h1{
  font-family: Arial,fantasy;
  padding-top: 17px;
  color: #FFFFFF;
  font-size: 200%;
}
header{
  background-color: #4C78EE;
   text-align: center;
}
nav{
  font-family: Arial,"Times New Roman",serif;
  font-variant: small-caps;
  font-size: 150%;
  display: inline-block;
  padding: 0px 10px 10px 10px;
}
h2{
  color: black;
  font-family: Arial,fantasy;
  background-color: #4C78EE;
  color: #FFFFFF;
  padding-left: 2%;
}
body{
    background-color: #FFFFFF;
    margin: 2%;
}
section{
  display: inline-block;
  width: 30%;
  float: left;
  margin: 1.5%;
}
footer{
  clear: both;
}
img{
  width: 75px;
  display: inline-block;
}
p{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    display: inline-block;
}
a{
  margin: 4px;
}
details{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
ul{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
div{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 93%;
}
